// Mixins
@use "../style/abstracts/mixins/box-shadow";

// Variables
@use "../style/abstracts/variables/colors";

.radioButtonInput {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 100%;

    .requiredSymbol {
        width: 1em;
        height: 1em;
        font-size: 0.4em;
        vertical-align: top;
        margin-top: 2px;
    }

    &:not(.disabled) {
        cursor: pointer;
        input {
            cursor: pointer;
        }

        &:hover > span:first-child {
            @include box-shadow.box-shadow(0 0 0 2px var(--color-form-element, colors.$color-form-element));
        }

        &.hasErrors:hover > span:first-child {
            @include box-shadow.box-shadow(0 0 0 2px var(--color-error, colors.$color-error));
        }
    }

    .labelText {
        font-size: 16px;
        line-height: 1em;
        margin-left: 0.5em;
        margin-top: 3px;
        color: var(--color-form-element, colors.$color-form-element);

        &:empty {
            margin: 0;
        }
    }

    &.hideLabel {
        .labelText {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: 0;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    }

    &.disabled {
        .labelText {
            opacity: 0.4;
        }
    }

    &.hasErrors {
        span {
            color: var(--color-error, colors.$color-error);
        }
    }

    &:has(input:focus-visible) > span:first-child {
        outline-style: solid;
        outline-width: 2px;
        outline-color: var(--color-focus, colors.$color-focus);
        outline-offset: 2px;
    }

    input[type="radio"] {
        opacity: 0;
        position: absolute;
    }
}
